body {
  color: #073b4c;
  font-family: poppins;
}

.color-accent {
  color: #0ead69 !important;
}

.checked {
  color: orange;
}

#hero {
  background-image: url("img/bacground.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#ourservices {
  background-color: white;
}

#whyus {
  background-color: #073b4c;
  color: white;
}

#aboutus {
  background-color: white;
}

#client {
  background-color: #f0f4f3;
}

#partners {
  background-color: white;
}

#footer {
  background-color: #073b4c;
  color: white;
}

@media only screen and (max-width: 768px) {
  #hero {
    font-size: 75%;
  }
}
